[flake8]
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    build,
    dist,
    .eggs,
    *.egg-info,
    .pytest_cache,
    .mypy_cache
ignore = 
    E501,
    W503,
    E203,
    E266,
    E402
per-file-ignores =
    __init__.py:F401